:root {
  --black: #1f1f1f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 4rem;
}

/* General ========================== */

body,
*::placeholder,
textarea,
input {
  font-family: 'Lato', sans-serif;
}

h1,
*::placeholder,
input,
a,
button,
textarea {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a,
p {
  text-decoration: none;
  color: var(--black);
}

button {
  cursor: pointer;
}

/* Header ======================== */

header {
  padding: 1rem 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--black);
}

h1 {
  font-weight: 900;
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

header div {
  display: flex;
}

header div input {
  width: 14.6rem;
  height: 3.25rem;

  padding-left: 3rem;

  border-radius: 3.25rem;
  border: none;

  background-image: url(../img/magnifier.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-color: #f2f2f2;
}

header div button {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  margin-left: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

header div button img {
  height: 1rem;
}

/* Main ============================== */

section.banner h2,
section.attribute h2 {
  background: linear-gradient(270.06deg, #dadada 20.97%, #9f9f9f 99.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  padding: 1.4rem 1.6rem;

  border: 2px solid var(--black);
  border-radius: 12px;
  background-color: transparent;

  font-weight: 700;
}

.button:hover {
  background-color: #f3f3f3;
  border-color: transparent;
  mix-blend-mode: multiply;
}

.button:focus {
  background-color: #d2d2d2;
  border-color: transparent;
}

/* Banner ============================== */

.banner {
  margin-top: 4rem;

  display: flex;
  justify-content: space-between;
}

.banner-text-container {
  max-width: 35%;
  margin-right: 2rem;
}

.banner-text-container h2 {
  margin-bottom: 1.2rem;

  font-size: 4em;
}

.banner-text-container .button {
  margin-top: 4rem;
}

.banner-image {
  max-width: 50%;
  margin-right: 2rem;
}

.banner-image img {
  width: 100%;
}

/* Sneaker colors ============================== */

.sneaker-colors {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 3.2rem;
  border-radius: 8px;

  background-color: #f3f3f3;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  color: var(--black);
}

.sneaker-colors h2 {
  margin-bottom: 3.2rem;
  font-weight: 900;
}

.sneaker-colors ul {
  display: flex;
  gap: 1.6rem;
}

.sneaker-colors li {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
}

.sneaker-colors li span {
  top: 0;
  left: 0;
  opacity: 0;
}

.male-white {
  background: linear-gradient(270.06deg, #e4e4e4 20.97%, #ffffff 99.92%);
  border: 2px solid rgba(31, 31, 31, 0.5);
}

.male-golden {
  background: linear-gradient(277.74deg, #ffe08d 9.16%, #ffb757 91.03%);
  opacity: 0.5;
  border: 2px solid #ffffff;
}

.male-grey {
  background: linear-gradient(270.06deg, #464646 20.97%, #d3d3d3 99.92%);
  opacity: 0.5;
  border: 2px solid #ffffff;
}

.male-graphite {
  background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
  opacity: 0.5;
  border: 2px solid #ffffff;
}

.sneaker-colors span {
  font-weight: 900;
}

.sneaker-colors button {
  margin-top: 3.2rem;
}

/* Attributes ============================== */

.attribute {
  margin-top: 8rem;

  display: flex;
  justify-content: space-between;
}

.attribute h2 {
  font-size: 2.7em;
  margin-bottom: 1.2rem;
}

.attribute div:not(.attribute-image) {
  max-width: 40%;
}

.attribute .attribute-image {
  max-width: 50%;
}

.attribute img {
  width: 100%;
}

/* Motivacional ============================= */

.motivacional {
  max-width: 1600px;
  margin: 10rem -4rem;

  color: white;
}

.motivacional img.background {
  width: 100%;
}

.motivacional div {
  position: absolute;
  padding: 0.8rem;
}

.motivacional .icon {
  height: 2.25em;
  margin-right: 1.1rem;
  margin-bottom: 1rem;
}

.motivacional span {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 5.2rem;
}

/* Contato ================== */

.contact {
  background: #f3f3f3;
  margin-bottom: 8rem;

  display: grid;
  grid-template-columns: 3fr 2fr;
  border-radius: 8px;
}

.contact .map img {
  width: 100%;
}

.contact form {
  height: 100%;
  padding: 2rem 2.2rem 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact h2 {
  font-size: 2rem;
  color: var(--black);
}

form input,
form textarea {
  background: #ffffff;
  border-radius: 12px;
  border: none;
  padding: 1.2rem 1.4rem;
}

form input:hover,
form textarea:hover {
  box-shadow: inset 0 0 0 2px #d2d2d2;
}

form textarea {
  resize: none;
}

form label {
  color: #969696;
  display: flex;
  align-items: center;
}

form label span {
  margin-left: 0.8rem;
}

form input.agree-checkbox {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

/* Footer ================= */

footer {
  background: #f3f3f3;

  width: 100%;
  position: absolute;
  left: 0;

  color: var(--black);
}

footer .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.8rem 4rem 0.8rem;
}

footer .footer-links {
  margin-bottom: 2.8rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer h3 {
  font-size: 1rem;
  font-weight: 900;
}

.footer-links li {
  margin-bottom: 0.6rem;
}

.footer-links li:first-child {
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer-links .social {
  display: flex;
  flex-direction: column;
}

.footer-links .social a:nth-child(n + 2) {
  margin-left: 1rem;
}

footer .mentorama {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mentorama {
  padding-top: 1.2rem;
  font-weight: 700;
}

.mentorama img {
  height: 0.96rem;
  margin-left: 0.4rem;
}

/* Responsivo =================== */

@media (min-width: 1600px) {
  html {
    font-size: 125%;
  }

  body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 87.5%;
  }
}
